{:deps {thheller/shadow-cljs$aot {:mvn/version "2.12.5"}
        reagent/react-native     {:git/url "https://github.com/vouch-opensource/reagent-react-native"
                                  :sha "0fe1c600c9b81180f76b94ef6004c2f85e7d4aa0"}
        com.taoensso/tempura     {:mvn/version "1.2.1"}
        re-frame/re-frame        {:mvn/version "1.2.0"}
        reagent/reagent          {:mvn/version "1.0.0" :exclusions [react-dom react]}
        cider/cider-nrepl        {:mvn/version "0.25.10"}
        }

 :paths ["src"]}
